#cloud-config
ssh_authorized_keys:
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDCPx5y/iy8FNbmhfiaqK/gc6gatWZZ/0IqcQkYnsdI5HaR2s4mSY7HRxF/60lBL8oMeeURCoG+eSVOb7wwx16kVc+lJI0VoLcNg6ib26pZ07Z3Hj5fEZvn8s5B+YrE64e+kwkZI9VerOUXgI/jOEhp4AuW7BDCm8lDkHfZkL02SA0jv1SXUO5/UL/zimU+pIPmD4ABkgI+mElxfm3aZfnhO3+JYwP0xQ8+LWnttY8ghVuTZ3cSUIjC6xbGtgzZ+lpYap5ezjzr5KivhC7AMo4ZDaaqqiQ2TI4yg0wc23hZVwHnvyQ5LKeguFcWGle2KMDsVdat/ndeRUkG8yzaOPXV clayton@xdevel.com.br
coreos:
  etcd:
      #generate a new token for each unique cluster from https://discovery.etcd.io/new
      discovery: https://discovery.etcd.io/9fde9f6504295ea2b1c8dfb1bae6b5d3
      addr: $public_ipv4:4001
      peer-addr: $public_ipv4:7001
  units:
    - name: docker.service
      command: stop
    - name: etcd.service
      command: start
    - name: fleet.service
      command: start
      runtime: no
      content: |
        [Unit]
        Description=fleet

        [Service]
        Environment=FLEET_PUBLIC_IP=$public_ipv4
        ExecStart=/usr/bin/fleet
    - name: docker-tcp.socket
      command: stop
      enable: false 
      content: |
        [Unit]
        Description=Docker Socket for the API

        [Socket]
        ListenStream=4243
        Service=docker.service
        BindIPv6Only=both

        [Install]
        WantedBy=sockets.target
    - name: docker-local.service
      command: stop
      enable: false
      content: |
        [Unit]
        Description=docker local
        [Service]
        PermissionsStartOnly=true
        ExecStartPre=/usr/bin/systemctl kill docker.service
        ExecStart=/home/core/docker -H 0.0.0.0:2375 -H unix:///var/run/docker.sock -d
        [Install]
        WantedBy=local.target
write_files:
    - path: /home/core/.dockercfg
      owner: core:core
      permissions: 0644
      content: |
        {"https://index.docker.io/v1/":{"auth":"Y2xheXRvbnNpbHZhOkNueHN5c3RlbTE=","email":"clayton@xdevel.com.br"}}

